APP_NAME="Enterprise AI Knowledge Copilot"
APP_ENV=development
DEBUG=true
API_V1_PREFIX=/api/v1

DATABASE_URL=postgresql+asyncpg://presleykoyaweda@localhost:5432/copilot

MS_CLIENT_ID=
MS_TENANT_ID=
MS_CLIENT_SECRET=

LLM_PROVIDER=ollama
GROQ_API_KEY=
GROQ_MODEL=llama-3.3-70b-versatile